.alertBox {
	width: 350px;
	border: 1px solid #bbb;
	color: #222;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: #666 2px 2px 6px;
	-webkit-box-shadow: #666 2px 2px 6px;
}

.alertBoxTitle {
	font-size: 12px;
	font-weight: 700;
	padding: 2px 5px;
}

.alertBoxBody {
	padding: 10px 5px;
	text-align: center;
}

.alertBoxInner {
	border: 1px solid #f0f0f0;
	background: #ddd url('/images/title-gradient-overlay.png') repeat-x;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.alertBox .alertButtons {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
}

.alertBox .alertButtons > * {
	margin: 0px 6px;
}