.gridView {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.gridView table {
	border: none;
}

.gridView td {
	border-top: 1px solid #ddd;
	border-right: 1px solid #f0f0f0;
	
	padding: 3px 5px;
	font-size: 12px;
	
}

.gridViewHeaderRow {
	background: #fafafa url('/images/button-gradient-overlay.png') repeat-x;
}

.gridViewHeaderRow td {
	border: none;
	border-right: 1px solid #ddd;
/*	border-left: 1px solid #eee;*/
/*	border-: 1px solid #fff;*/
	font-size: 12px;
	padding: 4px 5px 5px;
	color: #222;
}

.gridView .gridItemHover {
	background: #eee url('/images/title-gradient-overlay.png') repeat-x;
}
.gridView .gridItemHover td {
	border-top: 1px solid #bbb;
/*	padding-top: 2px;*/
}

.gridView .gridItemSelected {
	background-color: #DDDDFF;
	background-image: none;
}

.gridView .gridItemSelected td {
	padding-bottom: 2px;
	border-top: 1px dotted #88a;
	border-bottom: 1px dotted #88a;
}
