.menu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #222;
	padding: 1px;
	font-size: 12px;
	
	-moz-box-shadow: #666 2px 2px 6px;
	-webkit-box-shadow: #666 2px 2px 6px;
}

.menuItem {
	position: relative;
	cursor: pointer;
	padding: 5px 20px 5px 30px;
	white-space: nowrap;
}

.menuItem img.menuIcon {
	position: absolute;
	left: 5px;
	top: 4px;
}

.menuItem:hover {
	background: #ddd url('/images/button-gradient-overlay.png');
}

img.subMenuIndicator {
	position: absolute;
	right: 3px;
	top: 9px;
}