.tabBarWrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}

.tabBar {
/*	background-color: #eee;*/
	border-bottom: 1px solid #999;
	height: 28px;
	display: block;
}

.tabBarBottom {
	background-color: #dadada;
	height: 2px;
	border-bottom: 1px solid #999;
}

.tab, .tabSelected {
	vertical-align: baseline;
	top: 0px;
	margin-left: 2px;
	padding: 8px 10px 7px;
	-moz-user-select: none;
	float: left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-size: 12px;
	line-height: 13px;

	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border: 1px solid #999;
}

.tab {
	background: #eee url('/images/button-gradient-overlay-down.png') repeat-x;
	padding-top: 7px;
	color: #666;
	cursor: pointer;
}

.tab:hover {
	background-color: #DDDDFF;
}

.tabSelected {
	background: #fafafa url('/images/tab-bar-gradient-overlay.png') repeat-x;
	padding-top: 8px;
	color: #222;
	cursor: default;
	background-color: #fff;

	border-bottom: none;
}